<!DOCTYPE html>
<html>
  <head>
    <title>Sms verification</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: #aef3b0;">
    <h1 style="font-size: 80px; text-align: center; margin-top: 100px; color: #404040;">Confirmation done!</h1>
    <h1 style="font-size: 80px; text-align: center; margin-bottom: 100px; color: #404040;">Lead info</h1>
    <h2>Id: <%= lead.id %></h2>
    <h2>Phone: <%= lead.phone %></h2>
    <h2>Code: <%= lead.code %></h2>
    <h2>MessageStatus: <%= lead.messageStatus %></h2>
    <h2>Status: <%= lead.status %></h2>
    <h2>Confirmed: <%= lead.confirmed %></h2>
  </body>
  <script src="/javascripts/main.js"></script>
</html>
