<!DOCTYPE html>
<html>
  <head>
    <title>Sms verification</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--<table class="table">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<td>Name</td>-->
        <!--<td>Phone</td>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr>-->
        <!--<td></td>-->
        <!--<td></td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
    <form class="form-inline" name="form-verification">
      <input type="text" class="form-control" style="width: 500px;margin-right: 10px" placeholder="Enter phone"/>
      <button type="submit" class="btn btn-info">Verify</button>
    </form>
  </body>
  <script src="/javascripts/main.js"></script>
  <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {

      });
  </script>
</html>
