.capitalised::first-letter {
  text-transform: uppercase;
}
.fast_links a {
  text-decoration: none;
}
.fast_links .active {
  border-bottom: 2px dashed;
}
[ui-sref] {
  cursor: pointer;
}
th .rep-details {
  font-size: 10px;
}
.cfirst {
  border-left: 1px solid #aaaaaa; padding: 0 0 0 7px;
}
.rep-details {
  width: 32%;
  box-sizing: border-box;
  display: inline-block;
  font-weight: bold;
}
.rep-details small {
  display: none;
  font-weight: bold;
  min-width: 35px;
  /*display: inline-block;*/
  font-size: 10px;
}
.st-item {
  width: 33%;
}
.report-review li {
  list-style-type: none;
}
.project-stats h3 {
  margin-top: 0;
}
.report-icons speaker {
  float: left;
  margin-left: 15px;
  margin-top: 5px;
}
.report-icons {
  width: 55px;
}
.project-stats input, .project-stats input.form-control {
  border-radius: 0 !important;
  padding: 14px 3px !important;
  text-align: center;
}

.info-box-title {
  display: block;
}

#user-choice.opacity-0 > * {
  opacity: 0;
  /*display: none;*/
}

.stats city .form-control, .stats city {
  width: 150px !important;
  display: inline-block!important;
}

.highcharts-credits {
  display: none;
}

.info-box.stats .info-box-stats span.info-box-title {
  color: black;
  font-size: 16px;
}

.info-box-stats.w100 {
  color: black !important;
  width: 100%;
}

.hch {
  min-height: 1015px;
}

.fc-time {
  display: none;
}

.stat-item, .stat-title, .stat-value {
  display: inline-block;
}

.stat-item {
  display: block;
}

.stat-name {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}

.stat-title {
  min-width: 60px;
  font-weight: bold;
}

/*.stat-title:after {*/
/*content: ':';*/
/*}*/
.profile-timeline ul li .timeline-item-header p profile-name span {
  margin: 0;
  color: #000;
  font-weight: 700;
}

.logo-text img {
  /*padding: 10px 0;*/
  width: 35px;
}

.step-item.results {
  text-align: right;
}

.step-item {
  text-align: center;
}

.step-desc {
  font-size: 10px;
}

.active .step-index {
  border: 1px solid darkgreen;
}

.step-index {
  border: 1px solid lightgrey;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
}

aqw content:

', '
}
.arguments:last-child::after {
  content: ''
}

.log-error {
  color: darkred;
}

.log-item {
  margin-top: 5px;
}

.variables {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0;
  padding: 2px 4px;
  box-sizing: content-box;
}

.capitalised {
  display: inline-block;
}

.modal-notify {
  padding: 70px 0;
  text-align: center;
}

/*main {*/
/*display: table;*/
/*width: 100%;*/
/*}*/
/*.page-sider {*/
/*width: 160px;*/
/*}*/
/*main > .page-sidebar {*/
/*display: table-cell;*/
/*}*/
.circle-status {
  margin-top: -10px;
  height: 20px;
  vertical-align: top;
}

.close-tab {
  margin-right: -6px;
  margin-left: 6px;
  float: right;
  color: #a7a7a7;
  font-weight: 200;
  font-size: 12px;
  margin-top: 2px;
}

.profile-det p {
  white-space: pre-line;
}

.profile-det b {
  min-width: 150px;
  display: inline-block;
  /*padding: 20px 0;*/
  margin-top: 10px;
}

.top-toggle {
  position: relative;
}

.grey {
  color: #b2b2b2;
}

.top-toggle, .task-circle {
  transition: color .4s ease;
  border: 4px solid transparent;
}

.top-toggle.done .task-circle {
  background: #936ec1;
}

.top-toggle.active .task-circle {
  /*border-bottom: 1px dashed grey;*/
  border: 2px solid #936ec1;
  background: white;
  /*box-sizing: border-box;*/
  width: 16px;
  height: 16px;
  /* margin-top: -2px; */
  box-sizing: content-box;
  margin-top: -2px;
  z-index: 25;
  /*margin-top: -2px;*/
}

.top-toggle:last-child:before,
.top-toggle:after {
  background: #e2e2e2;
  box-shadow: 0 0 2px #e2e2e2;
  border-radius: 2px;
  content: " ";
  height: 2px;
  /*border-radius: 2px;*/
  /*content: " ";*/
  /*height: 2px;*/
  top: 25px;
  position: absolute;
  z-index: 2;
  transition: width .5s ease;
  width: 100%;
  left: -100%;
}

.top-toggle.active:after, .done.top-toggle:after,
.top-toggle:first-child:before {
  background: #936ec1;
  box-shadow: 0 0 2px rgba(147, 110, 193, .5);
}

.page-sidebar-inner .menu.accordion-menu {
  position: fixed;
}

.complain {
  z-index: 10000;
  background: rgba(0, 0, 0, 0.24);
}

textarea {
  transition: height 0s linear !important;
  min-height: 54px;
}

.step-item .text {
  cursor: pointer;
}

.step-item.active .text {
  border-bottom: 1px dashed grey;
}

.top-toggle:last-child:before {
  left: 16px;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.task-circle {
  z-index: 3;
  position: relative;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #e2e2e2;
}

.steps_list_for {
  width: 100%;
}

.steps_list {
  width: 40%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.q-body {
  padding-left: 70px;
  width: 100%;
  box-sizing: border-box;
}

.q-icons {
  position: absolute;
}

.q-icons input {
  margin-top: 0;
  margin-left: 5px;
}

.question-give-up {
  padding: 10px;
  border: 1px solid #ececec;
  margin-bottom: 15px;
}

tags-input .tags span.input {
  padding-right: 10px;
  padding-left: 20px;
}

.q-icons .fa {
  font-size: 18px;
}

.bonus-report {
  /*max-width: 200px;*/
}

[pre] {
  white-space: pre-line;
}

.hq {
  font-size: 25px;
}

pre.code {
  display: inline-block;
  padding: 0 3px;
  color: #c81313;
}

.question {
  border: 1px solid #f0f0f0;
  padding: 15px 15px;
  margin-bottom: 20px;
}

label.m0 {
  margin: 0;
}

.white {
  color: white !important;
}

.grey {
  color: grey !important;
}

.label {
  display: inline-block;
}

.mb-editor {
  margin-bottom: -45px;
}

.top-toggle {
  cursor: pointer;
  margin-top: -8px;
  width: 5%;
}

.page-inner {
  min-height: 100%;
  /*padding-bottom: 0;*/
}

button.btn.dropdown-toggle {
  border-radius: 0;
}

button.btn, a.btn {
  border-radius: 18px;
  z-index: 1;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 80px;
}

.exp {
  font-weight: bold;
  display: inline-block;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  height: 31px;
  line-height: 32px;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  opacity: .6;
  width: 70px;
  position: relative;
  transition: color .3s linear, opacity .3s linear, background .3s linear;
  /*color: black;*/
  /*margin-left: -25px;*/
  /*padding-left: 25px;*/
}

a {
  cursor: pointer;
}

.grey {
  color: grey;
}

.exp {
  background: #33b429;
}

.exp.error {
  background: #bf2522;
}
[ng-click] {
  cursor: pointer;
}
.monaco-editor, .monaco-diff-editor {
  /*min-height: 600px;*/
}

.table.small-padding td, .table.small-padding>tbody>tr>td, .table.small-padding>tbody>tr>th, .table.small-padding>tfoot>tr>td, .table.small-padding>tfoot>tr>th, .table.small-padding>thead>tr>td, .table.small-padding>thead>tr>th {
  padding: 5px!important;
}
.stat-item {
  padding: 5px;
  width: 50px;
  display: inline-block;
}
.opacity-5 {
  opacity: .6;
}

scenario .ib, .ibb {
  vertical-align: bottom;
}
scenario small{
  display: block;
}

.main-body {
  min-height: 100%;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-5 {
  margin-top: 5px!important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-5 {
  margin-bottom: 5px;

}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-60 {
  margin-bottom: 60px;
}

.loading {
  opacity: .5;
  transition: all .8s ease;
}

.opacity {
  opacity: .3;
}

.tabs-img {
  height: 20px;
  margin-right: 5px;
}
.word-results {
  font-size: 18px;
  font-weight: bold;
}
.word-preview-card input {
  vertical-align: top;
}
.word-preview-card {
  height: 35px;
  width: 25px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  font-size: 24px;
  font-weight: bold;
}

.word-preview {
  cursor: pointer;
  /*font-size: 30px;*/
  padding: 0;
  margin: 0;
  margin-left: 9px;
  margin-right: 9px;
  border-bottom: 3px solid lightgrey;
  vertical-align: bottom;
}

.jstree-ocl, .jstree-icon.jstree-ocl {
  /*opacity: .2!important;*/
}

.select-file, .empty-files, .empty-file {
  width: 100%;
  padding: 100px 0;
  text-align: center;
  font-size: 25px;
}

.limited {
  /*max-width: 1400px;*/
  /*text-align: center;*/
  margin: 0 auto;
}

.loading::after {
  animation: in 1s ease;
  content: 'Loading ...';
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
}

.jstree-clicked {
  background: #beebff !important;
}

.modal-full {
  width: 98%;
  /*opacity: 0.8;*/
}

.modal-full2 {
  width: 98%;
  max-width: 1500px;
  /*opacity: 0.8;*/
}

.page-title.editor {
  padding: 13px;
}

.tab-item {
  cursor: default;
}

.tab-item.dragging {
  opacity: .9;
}

.tab-item.disabled {
  opacity: .45
}

.tt {
  font-size: 16px;
}

.profile-image img {
  width: 110px;
  min-height: 110px;
}

.modal-dialog {
  margin-top: 45px;
}

.modal-title {
  border-bottom: 1px solid lightgrey;
}

.main-ava {
  min-height: 50px;
}

@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}

.container.container-big {
  max-width: 1180px;
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
    width: auto;
  }
}

.navbar-inner .progress-bar {
  background: #e2e2e2;
}

.progress-bar {
  box-shadow: none;
  border: none;
  border-radius: 4px;
  height: 6px;
  margin: 0;
}

input, input.form-control {
  border-radius: 18px;
  padding: 6px 14px !important;
}

.progress-bar-value {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background: #f28600;
}

.bonuses, .rel {
  position: relative
}

.report label {
  margin-top: 6px;
  margin-bottom: -10px;
  margin-left: 10px;
  margin-right: -9px;
}

.highcharts-white .highcharts-background {
  fill: #fff;
}

iframe.youtube {
  min-height: 450px;
}

.highcharts-background {
  fill: transparent;
}

.bonuses h3 {
  margin-top: 5px;
}
.bonuses {
  width: 300px
}

.exp-value {
  background: #f9f9e4;
}

.bonuses exp {
  position: absolute;
  right: 25px;
  top: -15px;
}

.stat-rows small {
  width: 100px;
  display: inline-block;
}
.sw {
  width: auto!important;
  min-width: 0!important;
}
.stat-rows input {
  max-width: 100px;
  display: inline-block;
}

.word-preview-card input {
  border-radius: 0;
  padding: 3px!important;
  font-size: 18px;
  text-align: center;

}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea.no-radius {
  border-radius: 0!important;
}


textarea {
  resize: none !important;
  border-radius: 15px!important;
}

.inp-report {
  height: 27px;
  width: 59px;
  box-sizing: border-box;
}

.report-item {
  display: table;
  width: 100%;
}

.no-border, .woborder {
  border-radius: 0 !important;
}

.report-item-cell {
  vertical-align: top;
  display: table-cell;
  border-radius: 0 !important;
  background: #f1f1f1;
  border: 1px solid #dce1e4;
}

.report-item-cell.woborder {
  border: none;
}

/*.report-item .fa-times {*/
/*opacity: 0;*/
/*transition: all .4s ease;*/
/*}*/
/*.report-item:hover .fa-times {*/
/*opacity: 1*/
/*}*/
.completed {
  background: lightgrey;
}

.padd0 {
  padding: 0;
}

.bl {
  display: block;
}

.ib {
  display: inline-block;
}

.ml-7 {
  margin-left: 7px
}

.ml-5 {
  margin-left: 5px
}

.ml-10 {
  margin-left: 10px
}

.ml-15 {
  margin-left: 15px
}

.ml-20 {
  margin-left: 20px
}

.mt-5 {
  margin-top: 5px!important;
}

.mt-10 {
  margin-top: 10px
}

.mt-15 {
  margin-top: 15px
}

.mt-20 {
  margin-top: 20px
}

.w50 {
  max-width: 40px;
}

.w60 {
  max-width: 60px;
}

.w75 {
  max-width: 75px;
}

.w150 {
  max-width: 150px;
}

.w300 {
  min-width: 250px;
}